<div class="grid__wrapper">
    <div>
        <form>
            <h4>Filtro 🔍</h4>
            <h4>Filtrado por: {{datosSeguroService.selectedValue}} {{datosSeguroService.listFilter | uppercase}}</h4>
            <mat-form-field>
                <mat-label>Filtar por:</mat-label>
                <mat-select [(value)]="datosSeguroService.selectedValue">
                    <mat-option value="Patente">Patente</mat-option>
                    <mat-option value="Fecha">Fecha</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput type="text" name="filtro" [(ngModel)]='datosSeguroService._listFilter'
                    [value]='datosSeguroService._listFilter | uppercase' (keydown.enter)="filter()">
            </mat-form-field>
            <button mat-fab color="primary" type="button" (click)="filter()" aria-label="Search icon">
                <mat-icon>search</mat-icon>
            </button>
        </form>
    </div>
    <div>
        <table *ngIf="data.length">
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Patente</th>
                <th>Precio</th>
                <th>Fecha</th>
                <th>Tipo de Cobertura</th>
                <th>Estado</th>
                <th></th>
            </tr>
            <tr *ngFor="let seguro of data">
                <td>{{seguro.ProductID}}</td>
                <td>{{seguro.ProductName}}</td>
                <td>{{seguro.carModel}}</td>
                <td>{{seguro.Patente}}</td>
                <td>{{seguro.UnitPrice}}</td>
                <td>{{seguro.OrderDate}}</td>
                <td>{{seguro.Cobertura}}</td>
                <td>{{seguro.Discontinued}}</td>
                <td><button routerLink="detalle-tabla" (click)="setIdSeleccionado(seguro.ProductID)">Ver
                        detalle</button></td>
            </tr>
        </table>
    </div>
</div>