<div>
  <mat-grid-list cols="2" rowHeight="1rem">
    <mat-grid-tile colspan="2" rowspan="3">
      <h1>Moto Patente Antigua</h1>
    </mat-grid-tile>
    <form #myForm="ngForm" [formGroup]="oldMotorcycleForm" action="" class="formularioVehiculo">
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="motorcycle-brand">Marca</mat-label>
          <input matInput required minlength="3" id="motorcycle-brand" formControlName="motorcycleBrand" placeholder="Zanella" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="motorcycle-model">Modelo</mat-label>
          <input matInput id="motorcycle-model" formControlName="motorcycleModel" placeholder="Modelo 87" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="motorcycle-version">Version</mat-label>
          <input matInput id="motorcycle-version" formControlName="motorcycleVersion" placeholder="50cc" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="motorcycle-year">Año</mat-label>
          <input id="motorcycle-year" type="date" formControlName="motorcycleYear" matInput placeholder="0000" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="motorcycle-email">Correo electronico</mat-label>
          <input id="motorcycle-email" type="text" formControlName="motorcycleEmail" matInput placeholder="Ex. agustin@larrubia.com" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="client-phone">Telefono</mat-label>
          <input type="tel" id="client-phone" formControlName="clientPhone" matInput placeholder="(XXX) XXXX-XXXX" mask="(000) 0000-0000" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="4">
        <mat-form-field class="example-full-width">
          <mat-label id="client-license-plate">Patente</mat-label>
          <input type="text" id="client-license-plate" formControlName="clientLicensePlate" mask="AA-000-SS" matInput mask="000-SSS" placeholder="000-AAA" ngModel>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="2">
        <mat-dialog-actions>
          <button mat-raised-button type="submit" color="primary" [disabled]="!myForm.valid">Enviar</button>
        </mat-dialog-actions>
      </mat-grid-tile>
    </form>
  
  </mat-grid-list>

</div>

